@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Titillium+Web:wght@200;300;900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #5c1f06;
}

h1 {
	font-family: "Titillium Web", sans-serif;
	text-align: left;
	font: normal;
	font-size: 54px;
	letter-spacing: 0px;
	color: #d97852;
	opacity: 1;
	text-transform: uppercase;
}
p,
h3 {
	font-family: "Open Sans", sans-serif;
	color: #524641;
	text-transform: capitalize;
}
h2 {
	color: #d97852;
	font-family: "Open Sans", sans-serif;
	&::first-letter {
		text-transform: uppercase;
	}
}

button {
	margin: 10px 0;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	background-color: #d1b3a7;
	color: #524641;
	border: 1px solid #524641;
	border-radius: 3px;
	padding: 6px 14px;
	&:hover {
		background-color: #a68e85;
		color: #ffffff;
		border-color: #524641;
	}
}
