.GenreNav {
	margin: 30px 0 0 40px;
	h3 {
		margin-top: 12px;
	}
	ul {
		padding-top: 12px;
		p {
			font-weight: bold;
		}
		li {
			list-style: none;
			.Navlink {
				text-decoration: none;
				color: #d97852;
				font-family: "Open Sans", sans-serif;
				font-size: 14px;
			}
			&:hover {
				color: #5c1f06;
			}
		}
	}
}
