.PosterDetails {
	padding-top: 90px;
	display: grid;
	grid-template-columns: 3fr 9fr;
	gap: 23px;
	img {
		width: 100%;
	}
	div {
		h3 {
			font-family: "Open Sans", sans-serif;
			color: #524641;
			text-transform: capitalize;
		}
	}
	div > * {
		padding: 5px;
	}
	.stock {
		width: 46px;
		height: 34px;
		margin-right: 20px;
		text-align: center;
	}
	.smileyWrapper {
		display: flex;
		justify-content: end;
		margin-right: 40px;
		.smiley {
			font-size: 40px;
			color: green;
		}
		p {
			padding: 10px 0;
		}
	}
}
