.fallback {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 30vw;
	h2 {
		font-size: 50px;
	}
	p {
		font-size: 25px;
		padding-bottom: 20px;
	}
	.link {
		text-decoration: none;
		color: black;
		font-family: "Open Sans", sans-serif;
	}
}
