.LatestNews {
	margin-bottom: 80px;
	h2 {
		text-transform: capitalize;
		padding: 20px 0;
	}
	.LatestNewsGrid {
		display: grid;
		grid-template-columns: auto auto;
		gap: 20px;
		.figure {
			display: grid;
			grid-template-columns: 1fr 2fr;
			img {
				width: 140px;
			}
			.genre {
				margin: 10px 0;
			}
		}
	}
}
