.footer {
	position: fixed;
	display: grid;
	grid-template-columns: 2fr 1fr;
	bottom: 0;
	width: 1000px;
	background-color: #f8f8f8;
	border-top: 2px solid #cccccc;
	margin: 0 40px;
	.leftSection {
		display: grid;
		grid-template-columns: 1fr 1fr;
		.name {
			font-family: "Titillium Web", sans-serif;
			font-size: 24px;
			color: #d97852;
			text-transform: uppercase;
		}
	}
	.contactInfo p:first-child {
		padding-top: 18px;
	}
	.social {
		position: absolute;
		right: 0;
		top: 10px;
		color: #cccccc;
		font-size: 28px;
		width: fit-content;
	}
}
p {
	font-size: 14px;
}
