.navBar {
	ul {
		position: absolute;
		top: 55px;
		left: 860px;
		height: 27px;
		display: flex;
		list-style: none;
		li {
			padding: 10px;
			// margin-right: 10px;
			a {
				font-family: "Titillium Web", sans-serif;
				font-size: 18px;
				color: #524641;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 300;
			}
		}
	}
}
